[markup]
    [markup.goldmark]
        [markup.goldmark.renderer]
            unsafe = true
    [markup.highlight]
        style = "monokai"
        lineNos = true
        lineNumbersInTable = true
        tabWidth = 4
